<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mitt CV - Start</title>
</head>

<body>
    <div class="content">
        <header id="main-header">
            <div class="container">
                <h1>Mitt CV</h1>
                <nav>
                    <ul>
                        <li><a href="/" class="current">Start</a></li>
                        <li><a href="/add">Lägg till</a></li>
                        <li><a href="/about">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="kursListaWrapper">
            <h2>Kurser jag läst</h2>
            <% if(courseList.length> 0 ) { %>
                <% courseList.forEach((course)=> { %>
                    <article class="course">
                        <h3>
                            <%= course.code %>
                        </h3>
                        <p>
                            <b>Kurs:</b> <%= course.name %><br>
                            <b>Kursplan:</b> <%= course.syllabus %><br>
                            <b>Progression:</b> <%= course.progression %><br>
                        </p>
                        <p>
                            <a href="/delete/<%= course.course_id %>" class="btn">Ta bort</a>
                        </p>
                    </article>
                    <% }); %>
                        <% } else { %>
                            <p>Det finns inga kurser i listan</p>
                            <% } %>
                                <a href="/add" class="btn">Ny kurs</a>
        </main>
    </div>
    <footer>
        <p>© joha2102@student.miun.se</p>
    </footer>


</body>

</html>